b{
    color:white;
}

p{
    text-align:center;
    color:white;
    font-size:1.12rem;
}

.productBody{
    background:white;
}

.productBody p{
    color:black;
}

.outsideP{
    text-align:left;
    font-weight:bold;
    font-size:2rem;
}

footer p{
    color:black;
}

footer b{
    color:black;
}

.cardImg{
    height:12rem;
    width:12rem;
    border-radius:10%;
    object-fit:fill;
}

.card-text{
    color:black;
}

.nav-item{
    text-decoration: none;
    color:black;
}

body{
    background: linear-gradient(to right, #8c52ff , #00bf63);
}

.carousel-image{
    display: block; 
    margin-left:auto; 
    margin-right:auto;
}

nav button{
    background: linear-gradient(to right, white, gray);
    border: none;
    padding: .2rem .7rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    font-size:1.2rem;
    display: inline-block;
    margin: .3rem .5rem;
}

.productButton{
    color:black;
    background:yellow;
    border: 0px;
    border-radius: 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1.6rem;
    font-weight:bold;
    padding:0.5rem 1.2rem;
}

.white[id="entregado"]{
    background: white;
    color: #023020;
}

.white[id="pendiente"]{
    background: lightgray;
    color: yellow;
}

.white[id="cancelado"]{
    background: white;
    color: #c52914;
}

.slct[id="entregado"]{
    color: white;
    background: #023020;
}

.slct[id="pendiente"]{
    color: black;
    background: yellow;
}

.slct[id="cancelado"]{
    color: white;
    background: #c52914;
}

.productButton + .Wide{
    border-radius: 8rem;
    padding:1rem 2.4rem;
}

.pSelected{
    border: 0.5rem solid;
}

.pSelected[id="cartera"]{
    border-color: #c52914;
}

.pSelected[id="paypal"]{
    border-color: #283b82;
}

.productSize{
    background: white;
    border:none;
    color:black;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:8%;
    height:7%;
    font-size:1.3rem;
    font-weight:bold;
}

.productPrice{
    background:#c52914;
    text-align:center;
    margin-top:0.5rem;
    font-weight:bold;
    font-size:1.5rem;
    color:white;
    margin-left:0.8rem;
    padding:0.4rem 0.2rem;
}

.productPriceYellow{
    background:yellow;
    text-align:center;
    margin-top:0.5rem;
    font-weight:bold;
    font-size:1.5rem;
    color:black;
    margin-left:0.8rem;
    padding:0.4rem 0.2rem;
}

.selected{
    background:black;
    color:white;
}

.selected p{
    color:white;
}

.shopcart{
    width:2.2rem;
    height:2.2rem;
    border-radius:50%;
}

#mainHeader{
    font-size: 1.4rem;
}

.banner{
    width:100%;
    height:auto;
}

.btn.btn-warning{
    font-weight:bold;    
}

.blackSquareButton{
    background: black;
    color:white;
    border: none;
    padding: 1rem 5rem;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    font-size:1.6rem;
    display: inline-block;
}

label{
    color:white;
    margin-top:5px;
    font-size:1.3rem;
}

.modal-body label{
    color:black;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-tool label{
    background: white;
    color: black;
    border-color: black;
    padding: 0rem .7rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    font-size:0.79rem;
    display: inline-block;
    margin: .3rem .5rem;
}

.radio-tool input[type="radio"]:checked + label{
    background:black;
    color:white;
    border:none;
}

.radio-toolbar input[type="radio"]:hover + label {
    background: white;
    border-color: linear-gradient(to right, white);
}

#map {
  height: 250px; 
  width: 400px;
  float: right;
}

.productBrand{
    font-size:1.12rem;
    color:white;
    font-weight: bold;
}

.productName{
    font-size:1.12rem;
    color:white;
}

.text-right p{
    text-align: right;
    font-weight: bold;
    font-size: 1.4rem;
}

.text-left p{
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
}

.text-right input{
    float: right;
}

.text-left input{
    float: left;
}