b{
    color:white;
}

p{
    text-align:center;
    color:white;
    font-size:1.12rem;
}

.productBody{
    background:white;
}

.productBody p{
    color:black;
}

.outsideP{
    text-align:left;
    font-weight:bold;
    font-size:2rem;
}

footer p{
    color:black;
}

footer b{
    color:black;
}

.cardImg{
    height:12rem;
    width:12rem;
    border-radius:10%;
    object-fit:fill;
}

.card-text{
    color:black;
}

.nav-item{
    text-decoration: none;
    color:black;
}

body{
    background: linear-gradient(to right, #8c52ff , #00bf63);
}

.carousel-image{
    display: block; 
    margin-left:auto; 
    margin-right:auto;
}

nav button{
    background: linear-gradient(to right, white, gray);
    border: none;
    padding: .2rem .7rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    font-size:1.2rem;
    display: inline-block;
    margin: .3rem .5rem;
}

.productButton{
    color:black;
    background:yellow;
    border: none;
    padding: .4rem;
    border-radius: 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1.6rem;
    font-weight:bold;
    padding:0.5rem 1.2rem;
}

.productSize{
    background: linear-gradient(to right, white);
    border:none;
    color:black;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:8%;
    height:7%;
    font-size:1.3rem;
    font-weight:bold;
}

.productPrice{
    background:#c52914;
    text-align:center;
    margin-top:0.5rem;
    font-weight:bold;
    font-size:1.5rem;
    color:white;
    margin-left:0.8rem;
    padding:0.4rem 0.2rem;
}

.selected{
    background:black;
    color:white;
}

.selected p{
    color:white;
}

#shopcart{
    width:2.2rem;
    height:2.2rem;
    border-radius:50%;
}

#mainHeader{
    font-size: 1.4rem;
}

.banner{
    width:100%;
    height:auto;
}

.btn.btn-warning{
    font-weight:bold;    
}