b{
    color:white;
}

p{
    text-align:center;
    color:white;
    font-size:1.12rem;
}

.outsideP{
    text-align:left;
    font-weight:bold;
    font-size:2rem;
}

footer p{
    color:black;
}

footer b{
    color:black;
}

.cardImg{
    height:auto;
    width:12rem;
}

.card-text{
    color:black;
}

.nav-item{
    text-decoration: none;
    color:black;
}

#mainBody{
    background: linear-gradient(to right, #8c52ff , #00bf63);
}

.carousel-image{
    display: block; 
    margin-left:auto; 
    margin-right:auto;
}

nav button{
    background: linear-gradient(to right, white, gray);
    border: none;
    padding: .2rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .3rem .5rem;
}

.productButton{
    color:black;
    border: none;
    padding: .4rem;
    border-radius: 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: .2rem;
    font-size:2.3rem;
    font-weight:bold;
    left:2rem;
}

.productSize{
    background: linear-gradient(to right, white, gray);
    color:black;
    border: none;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:8%;
    height:7%;
    font-size:1.3rem;
    font-weight:bold;
}

.productPrice{
    background:#c52914;
    text-align:center;
    margin-top:0.5rem;
    font-weight:bold;
    font-size:2rem;
    color:white;
    margin-left:0.8rem;
    padding-top:0.4rem;
    padding-bottom:0.4rem;
}

.selected{
    background:black;
    color:white;
    border:2px solid white;
}

.selected p{
    color:white;
}

#shopcart{
    width:3.4rem;
    height:3.4rem;
    border-radius:50%;
}

#mainHeader{
    font-size: 1.8rem;
}

.banner{
    width:100%;
    height:auto;
}

.btn.btn-warning{
    font-weight:bold;    
}